.about-wrapper {
  width: 100%;
  padding: 90px 60px;
  background: #151521;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: 450px;
  gap: 70px;
  flex: 1;

  /*main case -> hidden */
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.2s ease, transform 0.8s ease;
}

/* while moving */
.about-wrapper.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.about-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* back border */
.about-img-frame {
  position: relative;
  border-radius: 30px;
}

.about-img-frame::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 22px;
  right: -30px;
  bottom: 30px;
  border: 2px solid #cb8383;
  border-radius: 35px 35px 0;
  z-index: 1;
}


.about-img img {
  width: 320px;
  height: 370px;
  object-fit: cover;
  border-radius: 20px 20px 0;
  position: relative;
  z-index: 2;
}

.about-content {
  flex: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about-content h1 {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.2;
  color: #fff;
  font-family: "Bungee", sans-serif;

  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;

  animation: typing 2.5s steps(8) forwards, blink 0.8s step-end infinite;
}

/* أنيميشن الكتابة */
@keyframes typing {
  from { width: 0; }
  to { width: 8ch; }   /* عدد حروف About me */
}

/* وميض المؤشر */
@keyframes blink {
  50% { border-color: transparent; }
}


.about-content p {
  color: #c7c7c7;
  font-size: 1.15em;
  margin-bottom: 14px;
  line-height: 1.6;
}

.about-details {
  display: flex;
  gap: 32px;
  color: #ddd;
  margin-bottom: 14px;
  flex-wrap: wrap;
  font-size: 1em;
}

.about-details span {
  color: #cb8383;
  font-weight: bold;
}

.about-meta {
  display: flex;
  gap: 38px;
  margin-bottom: 26px;
  font-size: 1.06em;
}


