.left-sidebar {
  width: 80px;
  height: 77vh;
  background: #151521;
 border-radius: 20px;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #222;
  transition: width 0.3s;
 overflow: hidden;
}

.left-sidebar.expanded {
  width: 240px; 
}

.profile-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #4a4a5a;
  transition: width 0.3s, height 0.3s;
}

.left-sidebar.expanded .profile-image img {
  width: 120px; /* الصورة تكبر */
  height: 120px;
}

.name { 
  color: white;
  text-align: center;
  opacity: 0;
  font-size: 22px; 
  font-weight: 700; 
  margin: 5px 0;
  transition: opacity 0.3s;
}

.left-sidebar.expanded .name{
  opacity: 1;
  color: white;
  font-size: 28px; 
  font-weight: 700; 
  margin: 10px 0;
  text-align: center;
  transition: opacity 0.3s;
}


.download-btn button {
  width: 100%;
  padding: 20px 20px;
  background: #cb8383;
  border: none;
  color: #151521;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 25px;
  transition:  0.3s;
  opacity: 0;
  font-weight: 600;
  font-size: 22;
}

.left-sidebar.expanded .download-btn button {
  opacity: 1;
}

.download-btn button:hover {
  background: #463ecf;
}


.nav-links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-bottom: 40px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d5d5d5;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-item span {
  font-size: 14px;
  margin-top: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}


.left-sidebar.expanded .nav-item.active span {
  opacity: 1;
}


.nav-item.active {
  color: #cb8383;
}

.nav-item:hover {
  color: #cb8383;
}

